*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
*.log
lcg
dist/
shell-code/build.env
bin-linux-amd64/*
bin-linux-arm64/*
binaries-for-upload/*
gpt_results
shell-code/jwt.admin.token
run.sh
lcg_history.json
